body {
    font-family: Tahoma;
    background-color: Crimson;
}

.baner {
    color: white;
    text-align: center;
    height: 370px;
}

.info{
    color: white;
    text-align: center;
   
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
 

}
.info:hover{
    border: 1px solid white;
}


.mecze {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.glowny {
    background-color: whitesmoke;
    height: 50px;
}

.lewy {
    background-color: whitesmoke;
    width: 70%;
    height: 230px;
    float: left;
}

.prawy {
    background-color: whitesmoke;
    width: 30%;
    height: 230px;
    text-align: right;
    float: left;
}


h2 {
    text-align: center;
    letter-spacing: 7px;
    text-transform: capitalize;
}